<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/fist.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        App-Control
      </a>
    </div>
  </nav>