<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Formulario</span>
            <button class="btn btn-dark btn-lg float-end">Agregar</button>
            <table class="table table-hover mt-5">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dato 1</th>
                    <th scope="col">Dato 2</th>
                    <th scope="col">Dato 3</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info" style="margin-right: 10px;"></i>
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info" style="margin-right: 10px;"></i>
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info" style="margin-right: 10px;"></i>
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>